{% extends 'blog/base.html' %}
{% load static %}

{%block content%}
    <div class="col-sm-10">
        <h3 class="text-white my-5">About Page</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium ipsam rem ullam suscipit quis praesentium nisi dicta magnam minus doloremque adipisci molestiae facilis, ducimus quibusdam repellat dolore! Non, id et?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis libero adipisci quos officiis dicta, quaerat nobis minus qui nostrum sapiente iure alias accusamus tenetur tempore id incidunt? Neque, veniam totam!</p>
{%endblock content%}